# Set the default behavior, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always normalize and use LF endings.
*.dart text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.md text eol=lf
*.gitignore text eol=lf
*.gitattributes text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.mov binary
*.mp4 binary
*.ogg binary
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
*.eot binary
